{# Assumes a wish or gift record is in the template context. #}
{% block extracss %}
<link rel="stylesheet" href="/static/css/compose.css">
{% endblock %}
{% block extrajs %}
  <script src="/static/js/jquery.form.js" type="text/javascript" charset="utf-8"></script>
  <script>
    $('#compose form').ajaxForm(function(data, status, xhr) {
      // We check the response data; the response code would still be OK even
      // if we got redirected to a compose form with an error message.
      if (data.trim() == "OK") {
        $('#id_body, #id_submit').attr('disabled', true);
        $('#compose .error').hide();
        $('#compose .success').fadeIn();
      } else {
        $('#compose .error').fadeIn();
      }
    });
  </script>
{% endblock %}
<div id="compose">
  <form class="compose" action="{% url messages_compose_embedded %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="recipient" id="id_recipient" value="{{ record.user.user.username }}"/>
    <fieldset>
      <legend>Send a message to this user</legend>
      <div>
        Subject: 
        <input type="text" class="subject" name="subject" id="id_subject" readonly 
               value="Your {{ record.subject_prefix }} {{ record.title }}">
      </div>
      <textarea id="id_body" rows="4" cols="55" name="body"></textarea>
      <div>
        <input id="id_submit" type="submit" value="Send &raquo;"/>
        <span class="success" style="display: none">Your message has been sent!</span>
        <span class="error" style="display: none">Sorry, an error occurred. Please try again.</span>
      </div>
    </fieldset>
  </form>
</div>
