Django>=1.3,<1.4
epio
Unipath
django-redis-cache
fabric
django-grappelli
django-extensions
South
-e svn+http://django-openid-consumer.googlecode.com/svn/trunk/#egg=django-openid-consumer
-e svn+http://django-messages.googlecode.com/svn/trunk/#egg=django-messages
-e git+https://github.com/FLOSolutions/python-openid.git#egg=python-openid
-e git+git://github.com/FLOSolutions/django-openid-auth.git#egg=django_openid_auth
-e svn+http://django-gravatar.googlecode.com/svn/trunk/#egg=django-gravatar
-e git+https://github.com/django-debug-toolbar/django-debug-toolbar.git#egg=django-debug-toolbar
