<link rel="stylesheet" href="/static/css/compose.css">
<strong>Send a message to this user!</strong>
<form action="" method="post">
{% csrf_token %} 
<div style="display:none">
  {{ form.recipient }}
</div>
<div>
  Subject: <input type="text" name="subject" id="id_subject" readonly>
</div>
{{ form.body }}
<div>
  <input type="submit" value="Send &raquo;"/>
</div>
</form>
<script>
  // TODO(matias): this is a big hack...
  var subject = document.location.href.match(/\?subject=([^&]+)/)[1] || "";
  document.getElementById('id_subject').value = unescape(subject);
</script>