form.compose {
  width: 300px;
}

#id_submit {
  font-size: 13px;
}

#compose .subject {
  border: none;
  font: 13px Helmet, Freesans, sans-serif;
  display: inline-block;
  padding: 0;
  width: 200px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}