input, button, .button {
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #717171;
  margin: 0;
  padding: 5px;
  font-size: 1.2em;
  -moz-box-shadow: 1px 1px 1px #333;
  -webkit-box-shadow: 1px 1px 1px #333;
  box-shadow: 1px 1px 1px #333;
}

input {
  -moz-box-shadow: inset 2px 2px 3px #ccc;
  -webkit-box-shadow: inset 2px 2px 3px #ccc;
  box-shadow: inner 2px 2px 3px #ccc;
}

button:hover, .button:hover {
  -moz-box-shadow: 1px 1px 3px #333;
  -webkit-box-shadow: 1px 1px 3px #333;
  box-shadow: 2px 2px 3px #333;
}

/* search form in header */

.search button, .search input {
  height: 18px;
}

.search button {
  background-image: url("../images/form-submit.png");
  background-position: 0 2px;
  width: 30px;
  height: 32px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* big sign up button on homepage and big edit button on profile pages */

a.sign-up, a.edit {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 2.3em;
  width: 150px;
  text-align: center;
  background-color: #ffd300;
  color: #000;
  border: none;
}

a.edit {
  font-size: 1.5em;
  width: 60px;
}

a.sign-up:hover, a.edit:hover {
  color: #000;
  text-decoration: none;
}

/* give and wish forms */

.give input, .wish input {
  width: 250px;
}

.give button, .wish button {
  background-color: #fca25e;
  width: 120px;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
}

.wish button {
  background-color: #7fd1d0;
}