{% extends 'base.html' %}
{% load gravatar %}
{% block extracss %}
<link rel="stylesheet" href="/static/css/compose.css">
{% endblock %}
{% block content %}
<h1>{{ wish.title }}</h1>
<ul>
  <li><img src="{{ wish.picture }}" width=40px height=40px>
  <li>{{ wish.description }}
  <li>{% gravatar wish.user.user %} created by {{ wish.user }} {{ wish.created|timesince }} ago
  <li>Status: {{ wish.get_status_display }}
</ul>

{% if user == wish.user.user %}
  {# TODO(matias): Show edit controls. Show messages for this wish? #}
{% else %}{% if user.is_authenticated %}
  {% include "django_messages/compose_embedded.html" %}
{% else %}
  <a href="{% url openid-login %}">Log in</a> to send a message about this wish!
{% endif %}{% endif %} 
{% endblock %}
