/* module container */
.mod{}

/* module header and footer */
.mod header, .mod footer {}

/* gray extended mod */
.gray {
  border: 2px solid #ddd;
}

/* rounded extends mod */
.mod.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* gift extends mod */
.mod.give {
  background: #fff url("../images/bg-gift-top.png") scroll repeat-x top left;
}

.mod.give h1 {
  text-transform: lowercase;
}

.mod.give header {
  background: transparent url("../images/icon-gift.png") scroll no-repeat 395px 10px;
  height: 50px;
}

.mod.give footer {
  border-top: 1px dashed #ccc;
}

.mod.give footer a {
  background-color: #eee;
  border: none;
}

.mod.give footer a:hover {
  text-decoration: none;
}

/* wish extends mod */
.mod.wish {
  background: #fff url("../images/bg-wish-top.png") scroll repeat-x top left;
}

.mod.wish h1 {
  text-transform: lowercase;
}

.mod.wish header {
  background: transparent url("../images/icon-wish.png") scroll no-repeat 395px 10px;
  height: 50px;
}

.mod.wish footer {
  border-top: 1px dashed #ccc;
}

.mod.wish footer a {
  background-color: #eee;
  border: none;
}

.mod.wish footer a:hover {
  text-decoration: none;
}

/* speech extends mod */
.mod.speech {
  margin: 20px 0;
}

.mod.speech .arrow-left {
  background: transparent url("../images/bg-arrow-outline-left.png") scroll no-repeat top left;
  padding-left: 15px;
  max-width: 200px;
}

.mod.speech .arrow-left div {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.mod.speech .button {
  background: #eee url("../images/bg-gift-button-bottom.png") scroll repeat-x bottom left;
  color: #000;
  display: block;
  font-weight: bold;
  padding: 15px;
}

.wish .mod.speech .button {
  background-image: url("../images/bg-wish-button-bottom.png");
}

.mod.speech .button:hover {
  text-decoration: none;
}

/* headshot extends mod */
.mod.headshot .bd {
  background: transparent url("../images/bg-stripes-light-tile.png") scroll repeat top left;
}