{% load gravatar %}
{% load inbox %}
<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}permabank{% endblock %}</title>
  <meta name="title" content="Permabank.cc">
  <meta name="description" content="@TODO">
  <meta name="author" content="Permabank">
  <meta name="copyright" content="@TODO">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta property="og:url" content="http://permabank.ep.io" />
  <meta property="og:image" itemprop="image" content="@TODO" />
  <meta property="og:site_name" content="Permabank.ep.io" />
  <meta property="og:description" content="@TODO" />
  <link rel="apple-touch-icon" href="@TODO"> <!-- 114px x 114px for iPhone4's retina display. Name it apple-touch-icon-precomposed.png -->
  <link rel="canonical" href="http://permabank.ep.io">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/static/css/index.css">
  {% block extracss %}{% endblock %}
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/nycga_ui.js"></script>
	<script src="/static/js/site.js"></script>
  {% block extrajs %}{% endblock %}
</head>

<body class="container_16">
  
  {% block header %}
  <nav class="grid_16">
    
    <ul class="horiz stretch invert">
      {% load flatpages %}
      {% get_flatpages as flatpages %}
      {% for page in flatpages %}
        <li class="left"><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
      {% if user.is_authenticated %}
        <li class="right mhm"><a href="{% url logout %}">log out</a>{# todo(ori): is this right? #}
        <li class="right mhm"><a href="@TODO">my wishes</a></li>
        <li class="right mhm"><a href="@TODO">my gifts</a></li>
        <li class="right mhm"><a href="@TODO" class="bg dd-small-white prm">{{ user.username }}</a>
          <a href="{% url messages_inbox %}">({% inbox_count %})</a>
        </li>
      {% endif %}
    </ul>
  
  </nav>

  <header class="main grid_16 relative">
    
    <h1 class="left mrn mtx">
			<a href="/" class="logo bg">permabank</a> 
		</h1>
		<ul id="locations">
			<li class="selected"><h2><a href="@TODO" class="bg dd-large prl"><span class="short">ny</span><span class="long">New York</span></a></h2></li>
			<li class="rounded_4"><h2><a href="@TODO"><span class="short">oo</span><span class="long">Oakland</span></a></h2></li>
			<li class="rounded_4"><h2><a href="@TODO"><span class="short">dc</span><span class="long">Washington DC</span></a></h2></li>
			<li class="rounded_4"><h2><a href="@TODO"><span class="short">bo</span><span class="long">Boston</span></a></h2></li>
		</ul>
    
    <nav id="icon-nav">
    
      <ul class="horiz man">
        <li><a href="@TODO" class="bg mrl block left wish active">Wishes</a></li>
        <li><a href="@TODO" class="bg mrl block left gift">Gifts</a></li>
        {# todo: figure out what to do with exchanges #}
        {# <li><a href="@TODO" class="bg mrl block left exchange">Exchanges</a></li> #}
      </ul>
  
    </nav>
    
    <form method="get" class="search right mtx" action="/action.py">
      <fieldset>
        <input type="text" />
        <button title="Submit Search" class="bg">Search</button>
      </fieldset>
    </form>
  
  </header>
  {% endblock header %}
  
  {% if not user.is_authenticated %}
  {% block subhead %}
  <div class="grid_16 subhead">
  
    <div class="grid_12 suffix_1 alpha">
      <h2 class="inline gray-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at felis mi.</h2>
      <h3 class="inline mll"><a href="@TODO">Learn more</a></h3>
    </div>
    
    <div class="grid_3 omega tright">
      <a href="{% url openid-login %}">Log in</a> or <a href="@TODO" class="button sign-up mtm right pvm">sign up</a>
    </div>
  
  </div>
  {% endblock subhead %}
  {% endif %}
  
  {% block content %}
  {% endblock content %}
  
  {% block footer %}
  <footer class="grid_16 clearfix mtx">
    
    <p>&nbsp;</p>
    
  </footer>
  {% endblock footer %}
  
</body>
</html>
