{% extends 'base.html' %}
{% load gravatar %}
{% block content %}
<div class="grid_8">
  
  <section class="mod rounded gray give">
    
    <header class="mtl mll plm ptl">
      <h1 class="normal">Offer a gift</h1>
    </header>
  
    <div class="bd">
    
      <form method="post" class="give mll plm" action="/gifts/add">
        {% csrf_token %}
        <fieldset>
          <input type="text" name="title" />
          <button title="Give" class="">give</button>
        </fieldset>
      </form>
      
      <div class="stripes line mtx">
        <div class="size2of5 left stripes-arrow tcenter">
          <h3 class="">featured gifts</h3>
        </div>
<!-- This isn't needed until the big 'view all' becomes a 'load more'
        <div class="size3of5 right tright ptm">
          <a href="@TODO" class="mrl prl clear">view all</a>
        </div>
-->
      </div>
      
      {% for gift in gifts %}
      	<div class="mod speech clearfix">
	        <div class="left mll plm relative">
            {% gravatar gift.user.user 80 %}
	        </div>
	        <div class="left arrow-left mls">
	          <div class="pam">
	            <a href="{{ gift.user.get_absolute_url }}">{{ gift.user.user.username }}</a> is offering <strong>{{ gift.title }}</strong>.
	          </div>
	        </div>
	        <div class="left view mlm">
	          <a href="{{ gift.get_absolute_url }}" class="button">view</a>
	        </div>
	      </div>
	  {% endfor %}
	
    </div>
      
    <footer class="mbl mhm">
      <a href="{% url giftlist 'all' %}" class="button mal pas tcenter clear">view all</a>
    </footer>
        
  </section>

</div>

<div class="grid_8">

  <section class="mod rounded gray wish">
  
    <header class="mtl mll plm ptl">
      <h1 class="normal">Make a wish</h1>
    </header>
    
    <div class="bd">
    
      <form method="post" class="wish mll plm " action="/wishes/add">
        {% csrf_token %}
        <fieldset>
          <input type="text" name="title" />
          <button title="Get" class="">get</button>
        </fieldset>
      </form>
      
      <div class="stripes line mtx">
        <div class="size2of5 left stripes-arrow tcenter">
          <h3 class="">featured wishes</h3>
        </div>
<!-- This isn't needed until the big 'view all' becomes a 'load more'
        <div class="size3of5 right tright ptm">
          <a href="@TODO" class="mrl prl clear">view all</a>
        </div>
-->
      </div>
      
	  {% for wish in wishes %}
      <div class="mod speech clearfix">
        <div class="left mll plm relative">
          {% gravatar wish.user.user 80 %}
          <div class="bg occupier-small" title="Wall Street Occupier">Wall Street Occupier</div>
        </div>
        <div class="left arrow-left mls">
          <div class="pam">
            <a href="{{ wish.user.get_absolute_url }}">{{ wish.user.user.username }}</a> is looking for <strong>{{ wish.title }}</strong>.
          </div>
        </div>
        <div class="left view mlm">
          <a href="{{ wish.get_absolute_url }}" class="button">view</a>
        </div>
      </div>
	  {% endfor %}
      
    </div>
      
    <footer class="mbl mhm">
      <a href="{% url wishlist 'all' %}" class="button mal pas tcenter clear">view all</a>
    </footer>
  
  </section>

</div>
{% endblock %}
