{# vim: set ts=2 sw=2 #}
{% extends 'base.html' %}
{% load gravatar %}
{% block content %}
  <div id="header-wrapper">
    <header>
    <a class="logo" href="index.html"><img src="http://placehold.it/100x20" alt="LOGO" /></a>

    <ul class="dropdown">
      <li>
      <a href="">Gifts</a>
      <ul class="sub">
        {% for category in categories %}
          <li><a href="">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
      </li>
    </ul>

    <ul class="dropdown">
      <li>
      <a href="">Wishes</a>
      <ul class="sub">
        <li><a href="">Expendable Good</a></li>
        <li><a href="">Durable Good</a></li>
        <li><a href="">Service</a></li>
        <li><a href="">Instruction</a></li>
        <li><a href="">Space</a></li>
      </ul>
      </li>
    </ul>

    {% if user.is_authenticated %}
      <ul class="dropdown user">
        <li>
        <a href="">{{ user.username }}</a>
        <ul class="sub">
          <li><a href="">Profile</a></li>
          <li><a href="">Settings</a></li>
          <li><a href={% url logout %}>Logout</a></li>
        </ul>
        </li>
      </ul>
    {% else %}
      <ul class="dropdown user">
        <li> <a href={% url openid-login %}>log in</a> </li>
      </ul>
    {% endif %}

    </header>
  </div><!-- END #header-wrapper -->

  <div id="wrapper">
    <section class="find-gifts-wishes clearfix">
    <div class="find-submit">
      <h1>Offer a Gift</h1>
      <form>
        <input type="text" value="enter gift" />
        <input type="submit" value="Give" />
      </form>
    </div><!-- END .find-submit -->

    <div class="find-submit">
      <h1>Make a Wish</h1>
      <form>
        <input type="text" value="enter wish" />
        <input type="submit" value="Get" />
      </form>
    </div><!-- END .find-submit -->
    </section><!-- END .find-gifts-wishes -->

    <section class="featured items clearfix">
    <h2>Featured Wishes</h2>
    <article>
    <a class="item" href=""><img src="http://placehold.it/75x75" alt="item/icon" /></a>
    <div class="item-summary">
      <span class="meta-info"><a href="">Michael</a> is looking for a</span>
      <span class="item-name">Winter Coat</span>
    </div>
    <a class="button" href="">View Wish</a>
    </article>
    <article>
    <a class="item" href=""><img src="http://placehold.it/75x75" alt="item/icon" /></a>
    <div class="item-summary">
      <span class="meta-info"><a href="">Michael</a> is looking for a</span>
      <span class="item-name">Winter Coat</span>
    </div>
    <a class="button" href="">View Wish</a>
    </article>
    <article>
    <a class="item" href=""><img src="http://placehold.it/75x75" alt="item/icon" /></a>
    <div class="item-summary">
      <span class="meta-info"><a href="">Michael</a> is looking for a</span>
      <span class="item-name">Winter Coat</span>
    </div>
    <a class="button" href="">View Wish</a>
    </article>
    <article>
    <a class="item" href=""><img src="http://placehold.it/75x75" alt="item/icon" /></a>
    <div class="item-summary">
      <span class="meta-info"><a href="">Michael</a> is looking for a</span>
      <span class="item-name">Winter Coat</span>
    </div>
    <a class="button" href="">View Wish</a>
    </article>
    </section><!-- END .featured.items -->

    <section class="featured items clearfix">
    <h2>Featured Gifts</h2>
    <article>
    <a class="item" href=""><img src="http://placehold.it/75x75" alt="item/icon" /></a>
    <div class="item-summary">
      <span class="meta-info"><a href="">Michael</a> is looking for a</span>
      <span class="item-name">Winter Coat</span>
    </div>
    <a class="button" href="">View Wish</a>
    </article>
    <article>
    <a class="item" href=""><img src="http://placehold.it/75x75" alt="item/icon" /></a>
    <div class="item-summary">
      <span class="meta-info"><a href="">Michael</a> is looking for a</span>
      <span class="item-name">Winter Coat</span>
    </div>
    <a class="button" href="">View Wish</a>
    </article>
    <article>
    <a class="item" href=""><img src="http://placehold.it/75x75" alt="item/icon" /></a>
    <div class="item-summary">
      <span class="meta-info"><a href="">Michael</a> is looking for a</span>
      <span class="item-name">Winter Coat</span>
    </div>
    <a class="button" href="">View Wish</a>
    </article>
    <article>
    <a class="item" href=""><img src="http://placehold.it/75x75" alt="item/icon" /></a>
    <div class="item-summary">
      <span class="meta-info"><a href="">Michael</a> is looking for a</span>
      <span class="item-name">Winter Coat</span>
    </div>
    <a class="button" href="">View Wish</a>
    </article>
    </section><!-- END .featured.items -->
  </div><!-- END #wrapper -->
{% endblock %}
