{% extends 'base.html' %}
{% block content %}
<div class="grid_8">
  
  <section class="mod rounded gray give">
    
    <header class="mtl mll plm ptl">
      <h1 class="normal">Offer a gift</h1>
    </header>
  
    <div class="bd">
    
      <form method="post" class="give mll plm" action="/action.py">
        <fieldset>
          <input type="text" />
          <button title="Give" class="">give</button>
        </fieldset>
      </form>
      
      <div class="stripes line mtx">
        <div class="size2of5 left stripes-arrow tcenter">
          <h3 class="">featured gifts</h3>
        </div>
        <div class="size3of5 right tright ptm">
          <a href="@TODO" class="mrl prl clear">view all</a>
        </div>
      </div>
      
      {% for gift in gifts %}
      	<div class="mod speech clearfix">
	        <div class="left mll plm relative">
	          <img src="http://placehold.it/80x80" alt="Member photo" />
	        </div>
	        <div class="left arrow-left mls">
	          <div class="pam">
				{% url profileview gift.user.user.pk as user_url %}
	            <a href="{{ user_url }}">{{ gift.user.user.username }}</a> is offering a <strong>{{ gift.title }}</strong>.
	          </div>
	        </div>
	        <div class="left view mlm">
			  {% url giftview gift.pk as gift_url %}
	          <a href="{{ gift_url }}" class="button">view</a>
	        </div>
	      </div>
	  {% endfor %}  
	    
    </div>
      
    <footer class="mbl mhm">
      <a href="@TODO" class="button mal pas tcenter clear">load more gifts</a>
    </footer>
        
  </section>

</div>

<div class="grid_8">

  <section class="mod rounded gray wish">
  
    <header class="mtl mll plm ptl">
      <h1 class="normal">Make a wish</h1>
    </header>
    
    <div class="bd">
    
      <form method="post" class="wish mll plm " action="/action.py">
        <fieldset>
          <input type="text" />
          <button title="Get" class="">get</button>
        </fieldset>
      </form>
      
      <div class="stripes line mtx">
        <div class="size2of5 left stripes-arrow tcenter">
          <h3 class="">featured wishes</h3>
        </div>
        <div class="size3of5 right tright ptm">
          <a href="@TODO" class="mrl prl clear">view all</a>
        </div>
      </div>
      
	  {% for wish in wishes %}
      <div class="mod speech clearfix">
        <div class="left mll plm relative">
          <img src="http://placehold.it/80x80" alt="Member photo" />
          <div class="bg occupier-small" title="Wall Street Occupier">Wall Street Occupier</div>
        </div>
        <div class="left arrow-left mls">
          <div class="pam">
			{% url profileview wish.user.user.pk as user_url %}
            <a href="{{ user_url }}">{{ wish.user.user.username }}</a> is looking for a <strong>{{ wish.title }}</strong>.
          </div>
        </div>
        <div class="left view mlm">
		  {% url wishview wish.pk as wish_url %}
          <a href="{{ wish_url }}" class="button">view</a>
        </div>
      </div>
	  {% endfor %}
      
    </div>
      
    <footer class="mbl mhm">
      <a href="@TODO" class="button mal pas tcenter clear">load more wishes</a>
    </footer>
  
  </section>

</div>
{% endblock %}
