{% extends 'base.html' %}
{% load gravatar %}
{% load record_type %}
{% block extrajs %}
	<script src="/static/js/profiles.js"></script>
{% endblock %}
{% block content %}
  <div class="grid_16 mtx">
  
    <!-- left column -->
    <div class="grid_4 alpha">
    
      <div class="mod headshot">
      
        <div class="bd pam relative">
          {% gravatar profile.user 200 %}
          <div class="bg occupier-large" title="{{ profile }}">{{ profile }}</div>
          <ul class="clearfix">
            <li class="left">occupier</li>
            <li class="left">volunteer</li>
          </ul>
        </div>
        
        <footer class="bd mtl" style="padding-left:10px;padding-right:10px;">
        	<h2 class="gray-text mbn">my story</h2>
            
            <p class="mtn">{{ profile.bio }}</p>            
            
  			<h2 class="gray-text mbn">praises</h2>
            
            <p class="mtn">{{ profile.praises }}</p>

			<h2 class="gray-text mbn">grievances</h2>
            
            <p class="mtn">{{ profile.grievances }}</p>
            
            <h2 class="gray-text mbn">occupying</h2>
            
            <p class="mtn">{{ profile.location }}</p>
            
            <h2 class="gray-text mbn">hometown</h2>
            
            <p class="mtn">{{ profile.hometown }}</p>
            
            <h2 class="gray-text mbn">status</h2>
            
            {#<p class="mtn">Volunteer</p>#}
			<p>&nbsp</p>
        </footer>
        
      </div>
      
    </div>
    <!-- end left column -->
    
    <!-- main content -->
    <div class="grid_12 omega">
    
      {% include "profiles/profile_header.html" with include_edit_link="true" %}
        
      <div class="grid_7 omega">
      
        <section class="mod rounded gray profile">
    
          <header>
            <div class="stripes line">
              <div class="size1of5 left tcenter">
                <h3><a href="@TODO">active</a></h3>
              </div>
              <!--<div class="size1of3 left stripes-arrow tcenter">
                <h3><a href="@TODO">about</a></h3>
              </div>
              <div class="size1of3 left stripes tcenter">
                <h3><a href="@TODO">testimonials</a></h3>
              </div>-->
            </div>
          </header>
          
          <div id="active" class="bd">
          
            <!-- activity content here -->

            <div id="wishes" class="bd">
            
              	{% for record in records %}
                  	{% if record|record_type == 'gift' %}
				      <div class="mod speech clearfix">
				        <div class="left mll plm relative" style="margin-left: 5px !important;padding-left: 5px !important;">
				          {% gravatar record.user.user 80 %}
				          {# <div class="bg occupier-small" title="Wall Street Occupier">Wall Street Occupier</div> #}
				        </div>
				        <div class="left arrow-left mls">
				          <div class="pam" style="width:180px;">
				            <strong>{{ record.title }}</strong>
				          </div>
				        </div>
				        <div class="left view mlm">
				          <a href="{{ record.get_absolute_url }}" class="button profile-gift-button">view</a>
				        </div>
				       </div>
				     {% endif %}
				     {% if record|record_type == 'wish' %}
				      <div class="mod speech clearfix">
				        <div class="left view mlm" style="padding-right:5px;">
				          <a href="{{ record.get_absolute_url }}" class="wish button profile-wish-button">view</a>
				        </div>
				        <div class="left arrow-right mls">
				          <div class="pam" style="width:180px;">
				            <strong>{{ record.title }}</strong>
				          </div>
				        </div>
				        <div class="left mll plm relative" style="margin-left:2px !important;padding-left:2px !important;">
				          {% gravatar record.user.user 80 %}
				          {# <div class="bg occupier-small" title="Wall Street Occupier">Wall Street Occupier</div> #}
				        </div>
				      </div>
				     {% endif %}
				{% endfor %}
              
            </div>
            
          </div>

          <footer class="mbl mhm" style="border-top: 1px dashed #CCC;">
	        <a href="/wishes/add" class="button mal pas tcenter clear" style="width:155px;display:inline-block;background-color: #EEE;
                color: #FCA25E;margin-right: 0px !important;padding-right: 0px !important;">post new gift</a>
            <a href="/gifts/add" class="button mal pas tcenter clear" 	style="width: 155px;display:inline-block;background-color: #EEE;
                color: #7FD1D0;margin-left: 0px !important; padding-left: 0px !important;">post new wish</a>
          </footer>  
        </section>
      
      </div>
      
      <div class="grid_5 omega">
      
        <section class="mod rounded gray profile">
    
          <header>
              <div class="stripes line">
                <div class="size1of3 left stripes tcenter" id="wishesContainer">
                  <h3 class=""><a href="#">fulfilled</a></h3>
                </div>
                <!--<div class="size1of3 left stripes tcenter" id="giftsContainer">
                  <h3 class=""><a href="#" id="giftsClick">gifts</a></h3>
                </div>
                <div class="size1of3 left stripes tcenter">
                  <h3 class=""> </h3>
                </div>-->
              </div>
            </header>
          
          <div class="bd">
            
            <div id="wishes" class="bd">
              
            </div>
            
            <div id="gifts" class="bd">
              
            </div>
            
          </div>
        
        </section>
      
      </div>
    
    </div>
    <!-- end main content -->
  
  </div>
{% endblock content %}
